<header id="izil" class="header1">
    <div id="iaoh" class="container">
        <div data-columns="1" data-gjs="navbar" id="iiul" class="row no-gutters">
            <div data-column="1" id="ig7k" class="cell">
                <img id="imr1u" src="https://cdn.grapedrop.com/u5f631954a3924f379de303e603ec8319/32ef00133f9c4ecaaae76210e1160a64_group_18990.png"
                class="" />
                <div id="i0ma2" class="burger">
                    <div id="template-i51ti" class="burger-line-dark"></div>
                    <div id="template-i74m3" class="burger-line-dark"></div>
                    <div id="template-irkhy" class="burger-line-dark"></div>
                </div>
            </div>
            <div data-column="1" id="i0bnl" class="cell">
                <div data-gjs="navbar-items" id="template-itb7b" class="menu-container">
                    <nav data-gjs="navs" id="template-i8b9j" class="menu">
                        <button type="button" id="ikjmp" class="btn btn-primary">Home</button>
<a [routerLink]="['##']" id="i4hdm" class="menu-link">
About</a>

<a [routerLink]="['/login']" id="ivmxz" class="menu-link">
Login</a>

                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>