<footer id="ih30jm" class="footer2">
    <div id="i4owop" class="container">
        <div data-columns="1" id="i0xo6j" class="row no-gutters">
            <div data-column="1" id="i4shmb" class="cell">
                <div id="ijq9g" class="">STAY CONNECTED</div>
                <div id="ixwrns" class="">Subscribe to our newsletter and be always updated about our services</div>
                <form
                method="post" name="footer" data-redirect="" id="template-i2d80j" class="footer-form">
                    <div id="template-iekar9" class="input-group">
                        <div type="email" name="email" placeholder="Enter your email" id="i20eww"
                        class="input"></div>
                        <button type="button" id="ij7a3m" class="button">Subscribe</button>
                    </div>
                    <div data-form-state="success" id="idnvzh" class="state-success">Thanks! We received your request</div>
                    <div data-form-state="error" id="i106qk"
                    class="state-error">An error occurred on processing your request, try again!</div>
                    </form>
            </div>
            <div data-column="1" id="ivji9k" class="cell"></div>
            <div data-column="1" id="ijfjn1" class="cell">
                
<h3 id="it0zgy" class="footer-item-title">
Mr.travel</h3>

                <div id="ijk0p8" class="footer-item">
<a [routerLink]="['##']" id="iahc0a" class="footer-link">
About us</a>

                </div>
                <div id="iak4ml" class="footer-item">
<a [routerLink]="['##']" id="i4kfem" class="footer-link">
Services</a>

                </div>
                <div id="i3cczb" class="footer-item">
<a [routerLink]="['##']" id="ix9py4" class="footer-link">
Contact</a>

                </div>
            </div>
            <div data-column="1" id="i35ezb" class="cell">
                
<h3 id="i1861j" class="footer-item-title">
SOCIAL</h3>

                <div id="i4miw8" class="footer-socials">
<a [routerLink]="['##']" target="_blank" id="template-ix4v6k" class="footer-link-svg">
<svg viewBox="0 0 430.1 430.1" width="100%" height="100%" id="idfway" class="">
<path d="M158.1 83.3c0 10.8 0 59.2 0 59.2h-43.4v72.4h43.4v215.2h89.1V214.9h59.8c0 0 5.6-34.7 8.3-72.7 -7.8 0-67.8 0-67.8 0s0-42.1 0-49.5c0-7.4 9.7-17.4 19.3-17.4 9.6 0 29.8 0 48.6 0 0-9.9 0-43.9 0-75.4 -25 0-53.5 0-66 0C155.9 0 158.1 72.5 158.1 83.3z" id="template-iwpt6t" class="">

 </path>
</svg>
</a>

<a [routerLink]="['##']" target="_blank" id="ihyt09" class="footer-link-svg">
<svg viewBox="0 0 32 28" width="100%" height="100%" id="ie3omz" class="">
<path d="M32 4.8c-1.2.5-2.4.8-3.8 1 1.4-.7 2.4-1.9 2.9-3.4-1.3.7-2.7 1.2-4.2 1.5-1.2-1.2-2.9-1.9-4.7-1.9-3.6 0-6.6 2.7-6.6 6.1 0 .5.1.9.2 1.4-5.5-.3-10.3-2.7-13.6-6.4-.5.9-.9 1.9-.9 3.1 0 2.1 1.2 4 2.9 5-1.1 0-2.1-.3-3-.8v.1c0 2.9 2.3 5.4 5.3 5.9-.6.1-1.1.2-1.7.2-.4 0-.8 0-1.2-.1.8 2.4 3.3 4.2 6.1 4.2-2.2 1.6-5.1 2.6-8.2 2.6-.5 0-1.1 0-1.6-.1 3 1.8 6.5 2.8 10.2 2.8 12.1 0 18.7-9.2 18.7-17.2v-.8c1.2-.9 2.3-1.9 3.2-3.2z" id="template-i7dp19" class="">

 </path>
</svg>
</a>

<a [routerLink]="['##']" target="_blank" id="template-i8jyvm" class="footer-link-svg">
<svg viewBox="0 0 28 28" width="100%" height="100%" id="ih4mio" class="">
<path d="M14 0c-7.7 0-14 6.3-14 14s6.3 14 14 14 14-6.3 14-14-6.3-14-14-14zm11.5 13.3c-3-.5-5.8-.5-8.3-.1l-.9-2c2.7-1.2 4.9-2.8 6.5-4.8 1.6 2 2.6 4.4 2.7 6.9zm-4.5-8.4c-1.4 1.8-3.3 3.2-5.8 4.3-1.2-2.2-2.5-4.3-4-6.4.9-.2 1.8-.4 2.8-.4 2.7 0 5.1.9 7 2.5zm-12.2-1.2c1.6 2 2.9 4.1 4.1 6.3-2.8.8-6.2 1.3-10.1 1.3.8-3.3 3-6.1 6-7.6zm-6.4 10.3v-.3c4.5 0 8.4-.5 11.6-1.5l.8 1.7c-3.9 1.2-7.2 3.8-9.7 7.6-1.7-2.1-2.7-4.7-2.7-7.5zm4.5 9.1c2.3-3.6 5.2-5.9 8.9-7 1.1 2.8 1.9 5.7 2.4 8.7-1.3.5-2.7.8-4.1.8-2.8 0-5.2-1-7.2-2.5zm13.5.5c-.5-2.7-1.3-5.4-2.2-8 2.2-.3 4.6-.2 7.2.2-.5 3.2-2.4 6.1-5 7.8z" id="template-io7hht" class="">

 </path>
</svg>
</a>

                </div>
            </div>
        </div>
        <div id="ib692y" class="footer-copyright">© 2020 Geppetto. All Rights Reserved</div>
    </div>
</footer>